.details-wrapper {
  .content-details {
    justify-content: center;
    align-items: center;
    display: flex;

    img {
      padding: 42px;
      border-radius: var(--radius-default);
    }

    .movie-details {
      p {
        max-width: 50%;
        color: var(--color-text);
      }
    }
  }

  button {
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    border-radius: var(--radius-default);
  }
}
